@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  /* min-height: calc(100vh - 0.1px);
   */
  min-height: 100vh;
  background: linear-gradient(120deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h4.clicked {
  font-weight: 600;
}
